
.calculatorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

@media (max-width: 576px) {
  .calculatorContainer {
    flex-direction: column;
  }
}
